[user]
	name = Matthew Peddle
	email = matthew.t.peddle@gmail.com
[core]
	editor = vim
[credential]
	helper = osxkeychain
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	conflicts = diff --name-only --diff-filter=U
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
